# Data merge file - File doing muliple merges and operations - to fix cancer incidence data issues

In [259]:
import pandas as pd
chronic = pd.read_csv('US_Chronic_Disease_Indicators.csv')

In [260]:
git_dataset = pd.read_csv('git_final_dt.csv')

In [261]:
git_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21652 entries, 0 to 21651
Data columns (total 14 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   STATE                       21652 non-null  object
 1   Year                        21652 non-null  int64
 2   CO2                         21652 non-null  int64
 3   CH4                         21652 non-null  int64
 4   N2O                         21652 non-null  int64
 5   Fluorinated GHG             21652 non-null  int64
 6   Laws and Regulations        21652 non-null  int64
 7   State Incentives            21652 non-null  int64
 8   Utility/Private Incentives  21652 non-null  int64
 9   Ozone                       21652 non-null  float64
 10  Question                    21600 non-null  object
 11  DataValue                   16413 non-null  float64
 12  StratificationCategory1     21600 non-null  object
 13  Stratification1             21600 non-null  object
dtypes: float64(2), int64(8), object(4)
memory usage: 2.3+ MB

## Because one of the questions  related to cancer had a problem with study years- needed to separate and get the mid year as Year column and then use it

In [262]:
cancer_filtered = git_dataset.loc[git_dataset['Question'].isin(['Cancer of the lung and bronchus, incidence'])]

In [263]:
#cancer_filtered.to_csv('cancer_filtered.csv')

In [264]:
chronic.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,Response,DataValueUnit,DataValueType,...,LocationID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
0,2018,2018,AL,Alabama,BRFSS,Alcohol,Heavy drinking among adults aged >= 18 years,NaN,%,Age-adjusted Prevalence,...,1,ALC,ALC5_1,AGEADJPREV,GENDER,GENF,NaN,NaN,NaN,NaN
1,2011,2011,AL,Alabama,BRFSS,Arthritis,Arthritis among adults aged >= 18 years,NaN,%,Age-adjusted Prevalence,...,1,ART,ART1_1,AGEADJPREV,RACE,MRC,NaN,NaN,NaN,NaN
2,2018,2018,AL,Alabama,BRFSS,Arthritis,Fair or poor health among adults aged >= 18 ye...,NaN,%,Age-adjusted Prevalence,...,1,ART,ART4_0,AGEADJPREV,RACE,BLK,NaN,NaN,NaN,NaN
3,2018,2018,AL,Alabama,BRFSS,Cancer,Recent Papanicolaou smear use among women aged...,NaN,%,Crude Prevalence,...,1,CAN,CAN2_2,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN
4,2018,2018,AL,Alabama,BRFSS,Cancer,Papanicolaou smear use among adult women aged ...,NaN,%,Age-adjusted Prevalence,...,1,CAN,CAN2_1,AGEADJPREV,RACE,BLK,NaN,NaN,NaN,NaN

In [265]:
#git_dataset.to_csv('git_original_dataset.csv')

In [266]:
chronic_filtered = chronic.loc[chronic['Question'].isin(['Cancer of the lung and bronchus, incidence'])]

In [267]:
chronic_filtered.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,Response,DataValueUnit,DataValueType,...,LocationID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
165,2008,2012,AL,Alabama,Statewide central cancer registries,Cancer,"Cancer of the lung and bronchus, incidence",NaN,NaN,Average Annual Number,...,1,CAN,CAN8_1,AVGANNNMBR,RACE,HIS,NaN,NaN,NaN,NaN
11570,2012,2016,AL,Alabama,Statewide central cancer registries,Cancer,"Cancer of the lung and bronchus, incidence",NaN,"per 100,000",Average Annual Crude Rate,...,1,CAN,CAN8_1,AVGANNCRDRATE,GENDER,GENF,NaN,NaN,NaN,NaN
11573,2012,2016,AL,Alabama,Statewide central cancer registries,Cancer,"Cancer of the lung and bronchus, incidence",NaN,"per 100,000",Average Annual Crude Rate,...,1,CAN,CAN8_1,AVGANNCRDRATE,RACE,APIO,NaN,NaN,NaN,NaN
11604,2012,2016,AL,Alabama,Statewide central cancer registries,Cancer,"Cancer of the lung and bronchus, incidence",NaN,"per 100,000",Average Annual Age-adjusted Rate,...,1,CAN,CAN8_1,AVGANNAGEADJRATE,GENDER,GENM,NaN,NaN,NaN,NaN
11619,2012,2016,AL,Alabama,Statewide central cancer registries,Cancer,"Cancer of the lung and bronchus, incidence",NaN,"per 100,000",Average Annual Age-adjusted Rate,...,1,CAN,CAN8_1,AVGANNAGEADJRATE,RACE,AIAO,NaN,NaN,NaN,NaN

In [268]:
chronic_filtered = chronic.loc[chronic['Question'].isin(['Cancer of the lung and bronchus, incidence'])]

In [269]:
chronic_filtered = chronic_filtered.loc[chronic_filtered['DataValueType'] == 'Average Annual Crude Rate']

In [270]:
chronic_filtered.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,Response,DataValueUnit,DataValueType,...,LocationID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
11570,2012,2016,AL,Alabama,Statewide central cancer registries,Cancer,"Cancer of the lung and bronchus, incidence",NaN,"per 100,000",Average Annual Crude Rate,...,1,CAN,CAN8_1,AVGANNCRDRATE,GENDER,GENF,NaN,NaN,NaN,NaN
11573,2012,2016,AL,Alabama,Statewide central cancer registries,Cancer,"Cancer of the lung and bronchus, incidence",NaN,"per 100,000",Average Annual Crude Rate,...,1,CAN,CAN8_1,AVGANNCRDRATE,RACE,APIO,NaN,NaN,NaN,NaN
11654,2012,2016,AL,Alabama,Statewide central cancer registries,Cancer,"Cancer of the lung and bronchus, incidence",NaN,"per 100,000",Average Annual Crude Rate,...,1,CAN,CAN8_1,AVGANNCRDRATE,RACE,AIAO,NaN,NaN,NaN,NaN
11675,2012,2016,AL,Alabama,Statewide central cancer registries,Cancer,"Cancer of the lung and bronchus, incidence",NaN,"per 100,000",Average Annual Crude Rate,...,1,CAN,CAN8_1,AVGANNCRDRATE,RACE,HIS,NaN,NaN,NaN,NaN
11714,2012,2016,AL,Alabama,Statewide central cancer registries,Cancer,"Cancer of the lung and bronchus, incidence",NaN,"per 100,000",Average Annual Crude Rate,...,1,CAN,CAN8_1,AVGANNCRDRATE,OVERALL,OVR,NaN,NaN,NaN,NaN

In [271]:
final_chronic = chronic_filtered.drop([
 'DataValueType','DataValueUnit', 'StratificationCategory2',
'Stratification2',            'StratificationCategory3',      'Stratification3',             'GeoLocation',              
  'ResponseID',                
   'LocationID',                
   'TopicID',                     'QuestionID',                 
   'DataValueTypeID',            
   'StratificationCategoryID1',
   'StratificationID1',        
   'StratificationCategoryID2',
   'StratificationID2',   
   'StratificationCategoryID3',
 'StratificationID3','Response','DataSource','Topic','LocationDesc','DataValueAlt','LowConfidenceLimit','HighConfidenceLimit','DatavalueFootnote','DataValueFootnoteSymbol'], axis=1)

In [272]:
final_chronic.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2080 entries, 11570 to 814870
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   YearStart                2080 non-null   int64
 1   YearEnd                  2080 non-null   int64
 2   LocationAbbr             2080 non-null   object
 3   Question                 2080 non-null   object
 4   DataValue                1799 non-null   object
 5   StratificationCategory1  2080 non-null   object
 6   Stratification1          2080 non-null   object
dtypes: int64(2), object(5)
memory usage: 130.0+ KB

In [273]:
final_chronic.head()

,YearStart,YearEnd,LocationAbbr,Question,DataValue,StratificationCategory1,Stratification1
11570,2012,2016,AL,"Cancer of the lung and bronchus, incidence",66.5,Gender,Female
11573,2012,2016,AL,"Cancer of the lung and bronchus, incidence",22.9,Race/Ethnicity,Asian or Pacific Islander
11654,2012,2016,AL,"Cancer of the lung and bronchus, incidence",17.1,Race/Ethnicity,American Indian or Alaska Native
11675,2012,2016,AL,"Cancer of the lung and bronchus, incidence",7.6,Race/Ethnicity,Hispanic
11714,2012,2016,AL,"Cancer of the lung and bronchus, incidence",82,Overall,Overall

## Data operation to get mid year as the Year column- mid point of year start and end of study

In [274]:
final_chronic['midYear'] = final_chronic['YearStart'] + 2

In [275]:
final_chronic.head()

,YearStart,YearEnd,LocationAbbr,Question,DataValue,StratificationCategory1,Stratification1,midYear
11570,2012,2016,AL,"Cancer of the lung and bronchus, incidence",66.5,Gender,Female,2014
11573,2012,2016,AL,"Cancer of the lung and bronchus, incidence",22.9,Race/Ethnicity,Asian or Pacific Islander,2014
11654,2012,2016,AL,"Cancer of the lung and bronchus, incidence",17.1,Race/Ethnicity,American Indian or Alaska Native,2014
11675,2012,2016,AL,"Cancer of the lung and bronchus, incidence",7.6,Race/Ethnicity,Hispanic,2014
11714,2012,2016,AL,"Cancer of the lung and bronchus, incidence",82,Overall,Overall,2014

## Data operations to check for validity and count- not part of main merge operations

In [276]:
git_dataset.head()

,STATE,Year,CO2,CH4,N2O,Fluorinated GHG,Laws and Regulations,State Incentives,Utility/Private Incentives,Ozone,Question,DataValue,StratificationCategory1,Stratification1
0,AL,2012,84138381,701702,602778,264437,3,7,4,0.044215,Mortality from diseases of the heart,234.8,Gender,Female
1,AL,2012,84138381,701702,602778,264437,3,7,4,0.044215,Asthma mortality rate,14.9,Gender,Female
2,AL,2012,84138381,701702,602778,264437,3,7,4,0.044215,Asthma mortality rate,8.6,Gender,Male
3,AL,2012,84138381,701702,602778,264437,3,7,4,0.044215,Asthma mortality rate,8.9,Race/Ethnicity,"White, non-Hispanic"
4,AL,2012,84138381,701702,602778,264437,3,7,4,0.044215,Asthma mortality rate,21.8,Race/Ethnicity,"Black, non-Hispanic"

## Main operation separating the problem question from main dataset- after the problem is fixed. the rows will be appened again later in this notebook

In [277]:
git_dataset = git_dataset[git_dataset['Question'] != 'Cancer of the lung and bronchus, incidence']

In [278]:
#git_dataset.to_csv('~/Desktop/git_removedcancerincidence_dataset.csv')

## getting the previous data set having gases and chemicals along with incentives data

In [279]:
gasesandchemicals2 = pd.read_csv('final data 0802.csv')

In [280]:
gasesandchemicals2.head()

,STATE,Year,CO2,CH4,N2O,Fluorinated GHG,Incentives,Laws and Regulations,State Incentives,Utility/Private Incentives,Programs,State Hybrid Incentives,Ozone
0,AL,2012,84138381,701702,602778,264437,0,3,7,4,0,0,0.044215
1,AL,2013,83297945,594388,451420,274194,0,3,7,4,0,0,0.039733
2,AL,2014,84847355,634009,525399,312201,0,3,7,4,0,0,0.040936
3,AL,2015,82143007,611595,462661,263031,0,3,7,3,0,0,0.039063
4,AL,2016,75103394,550119,528136,302584,0,3,6,2,0,0,0.042845

In [281]:
gasesandchemicals2 = gasesandchemicals2.drop(['Incentives','Programs','State Hybrid Incentives'], axis=1)

In [282]:
gasesandchemicals2.head()

,STATE,Year,CO2,CH4,N2O,Fluorinated GHG,Laws and Regulations,State Incentives,Utility/Private Incentives,Ozone
0,AL,2012,84138381,701702,602778,264437,3,7,4,0.044215
1,AL,2013,83297945,594388,451420,274194,3,7,4,0.039733
2,AL,2014,84847355,634009,525399,312201,3,7,4,0.040936
3,AL,2015,82143007,611595,462661,263031,3,7,3,0.039063
4,AL,2016,75103394,550119,528136,302584,3,6,2,0.042845

In [283]:
final_chronic.head()

,YearStart,YearEnd,LocationAbbr,Question,DataValue,StratificationCategory1,Stratification1,midYear
11570,2012,2016,AL,"Cancer of the lung and bronchus, incidence",66.5,Gender,Female,2014
11573,2012,2016,AL,"Cancer of the lung and bronchus, incidence",22.9,Race/Ethnicity,Asian or Pacific Islander,2014
11654,2012,2016,AL,"Cancer of the lung and bronchus, incidence",17.1,Race/Ethnicity,American Indian or Alaska Native,2014
11675,2012,2016,AL,"Cancer of the lung and bronchus, incidence",7.6,Race/Ethnicity,Hispanic,2014
11714,2012,2016,AL,"Cancer of the lung and bronchus, incidence",82,Overall,Overall,2014

In [284]:
final_chronic = final_chronic.drop(['YearStart','YearEnd'], axis=1)

In [285]:
final_chronic.head()

,LocationAbbr,Question,DataValue,StratificationCategory1,Stratification1,midYear
11570,AL,"Cancer of the lung and bronchus, incidence",66.5,Gender,Female,2014
11573,AL,"Cancer of the lung and bronchus, incidence",22.9,Race/Ethnicity,Asian or Pacific Islander,2014
11654,AL,"Cancer of the lung and bronchus, incidence",17.1,Race/Ethnicity,American Indian or Alaska Native,2014
11675,AL,"Cancer of the lung and bronchus, incidence",7.6,Race/Ethnicity,Hispanic,2014
11714,AL,"Cancer of the lung and bronchus, incidence",82,Overall,Overall,2014

In [286]:
final_chronic = final_chronic.rename(columns={"midYear": "Year", "LocationAbbr": "STATE"})

In [287]:
gasesandchemicals2.head()

,STATE,Year,CO2,CH4,N2O,Fluorinated GHG,Laws and Regulations,State Incentives,Utility/Private Incentives,Ozone
0,AL,2012,84138381,701702,602778,264437,3,7,4,0.044215
1,AL,2013,83297945,594388,451420,274194,3,7,4,0.039733
2,AL,2014,84847355,634009,525399,312201,3,7,4,0.040936
3,AL,2015,82143007,611595,462661,263031,3,7,3,0.039063
4,AL,2016,75103394,550119,528136,302584,3,6,2,0.042845

## data related to questions of interest and avg crude rates

In [288]:
final_chronic.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2080 entries, 11570 to 814870
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   STATE                    2080 non-null   object
 1   Question                 2080 non-null   object
 2   DataValue                1799 non-null   object
 3   StratificationCategory1  2080 non-null   object
 4   Stratification1          2080 non-null   object
 5   Year                     2080 non-null   int64
dtypes: int64(1), object(5)
memory usage: 113.8+ KB

## data related to emmissions and incentives

In [289]:
gasesandchemicals2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 364 entries, 0 to 363
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   STATE                       364 non-null    object
 1   Year                        364 non-null    int64
 2   CO2                         364 non-null    int64
 3   CH4                         364 non-null    int64
 4   N2O                         364 non-null    int64
 5   Fluorinated GHG             364 non-null    int64
 6   Laws and Regulations        364 non-null    int64
 7   State Incentives            364 non-null    int64
 8   Utility/Private Incentives  364 non-null    int64
 9   Ozone                       364 non-null    float64
dtypes: float64(1), int64(8), object(1)
memory usage: 28.6+ KB

In [290]:
newdata = gasesandchemicals2.merge(final_chronic,  how  = 'outer',on=['STATE', 'Year'])

In [291]:
newdata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2312 entries, 0 to 2311
Data columns (total 14 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   STATE                       2312 non-null   object
 1   Year                        2312 non-null   int64
 2   CO2                         1456 non-null   float64
 3   CH4                         1456 non-null   float64
 4   N2O                         1456 non-null   float64
 5   Fluorinated GHG             1456 non-null   float64
 6   Laws and Regulations        1456 non-null   float64
 7   State Incentives            1456 non-null   float64
 8   Utility/Private Incentives  1456 non-null   float64
 9   Ozone                       1456 non-null   float64
 10  Question                    2104 non-null   object
 11  DataValue                   1817 non-null   object
 12  StratificationCategory1     2104 non-null   object
 13  Stratification1             2104 non-null   object
dtypes: float64(8), int64(1), object(5)
memory usage: 270.9+ KB

In [292]:
#newdata.to_csv('~/Desktop/newdata.csv')

## filtering based on years because gases and chemicals data is only there after the year 2012 but the study data (crude rates) are there for previous years too

In [293]:
newdata_yearfiltered = newdata[(newdata['Year'] == 2012) | (newdata['Year'] == 2013) | (newdata['Year'] == 2014)]

In [294]:
newdata_yearfiltered.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1272 entries, 0 to 2183
Data columns (total 14 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   STATE                       1272 non-null   object
 1   Year                        1272 non-null   int64
 2   CO2                         1248 non-null   float64
 3   CH4                         1248 non-null   float64
 4   N2O                         1248 non-null   float64
 5   Fluorinated GHG             1248 non-null   float64
 6   Laws and Regulations        1248 non-null   float64
 7   State Incentives            1248 non-null   float64
 8   Utility/Private Incentives  1248 non-null   float64
 9   Ozone                       1248 non-null   float64
 10  Question                    1272 non-null   object
 11  DataValue                   1101 non-null   object
 12  StratificationCategory1     1272 non-null   object
 13  Stratification1             1272 non-null   object
dtypes: float64(8), int64(1), object(5)
memory usage: 149.1+ KB

In [295]:
#newdata_yearfiltered.to_csv('~/Desktop/newdata_yearfiltered.csv')

## removed rows having US as the state column value- these seem to be overall values- not of interest for the current research study

In [296]:
newdata_yearfiltered_remvoedUS = newdata_yearfiltered[newdata_yearfiltered['STATE'] != 'US']

In [297]:
newdata_yearfiltered_remvoedUS.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1248 entries, 0 to 1451
Data columns (total 14 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   STATE                       1248 non-null   object
 1   Year                        1248 non-null   int64
 2   CO2                         1248 non-null   float64
 3   CH4                         1248 non-null   float64
 4   N2O                         1248 non-null   float64
 5   Fluorinated GHG             1248 non-null   float64
 6   Laws and Regulations        1248 non-null   float64
 7   State Incentives            1248 non-null   float64
 8   Utility/Private Incentives  1248 non-null   float64
 9   Ozone                       1248 non-null   float64
 10  Question                    1248 non-null   object
 11  DataValue                   1077 non-null   object
 12  StratificationCategory1     1248 non-null   object
 13  Stratification1             1248 non-null   object
dtypes: float64(8), int64(1), object(5)
memory usage: 146.2+ KB

In [298]:
#git_dataset.to_csv('finalone_git_dataset.csv')

In [299]:
git_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21220 entries, 0 to 21651
Data columns (total 14 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   STATE                       21220 non-null  object
 1   Year                        21220 non-null  int64
 2   CO2                         21220 non-null  int64
 3   CH4                         21220 non-null  int64
 4   N2O                         21220 non-null  int64
 5   Fluorinated GHG             21220 non-null  int64
 6   Laws and Regulations        21220 non-null  int64
 7   State Incentives            21220 non-null  int64
 8   Utility/Private Incentives  21220 non-null  int64
 9   Ozone                       21220 non-null  float64
 10  Question                    21168 non-null  object
 11  DataValue                   16042 non-null  float64
 12  StratificationCategory1     21168 non-null  object
 13  Stratification1             21168 non-null  object
dtypes: float64(2), int64(8), object(4)
memory usage: 2.4+ MB

In [300]:
newdata_yearfiltered_remvoedUS.DataValue = newdata_yearfiltered_remvoedUS.DataValue.astype(float)

/opt/miniconda3/lib/python3.7/site-packages/pandas/core/generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

## Appending the cancer data( the problem question which was addressed) to the main dataset

In [301]:
finalDataToUpload = git_dataset.append(newdata_yearfiltered_remvoedUS, ignore_index=True)

In [302]:
finalDataToUpload.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22468 entries, 0 to 22467
Data columns (total 14 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   STATE                       22468 non-null  object
 1   Year                        22468 non-null  int64
 2   CO2                         22468 non-null  float64
 3   CH4                         22468 non-null  float64
 4   N2O                         22468 non-null  float64
 5   Fluorinated GHG             22468 non-null  float64
 6   Laws and Regulations        22468 non-null  float64
 7   State Incentives            22468 non-null  float64
 8   Utility/Private Incentives  22468 non-null  float64
 9   Ozone                       22468 non-null  float64
 10  Question                    22416 non-null  object
 11  DataValue                   17119 non-null  float64
 12  StratificationCategory1     22416 non-null  object
 13  Stratification1             22416 non-null  object
dtypes: float64(9), int64(1), object(4)
memory usage: 2.4+ MB

In [303]:
finalDataToUpload.to_csv('finalDataToUse.csv')